div.tab{
    overflow: hidden;
    background-color: #f1f1f1;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

div.tab button.selected {
    background-color: rgb(216, 156, 137);
    color:white;
}
