.flight-card {
    width:80%;
    padding:20px;
    margin:auto;
    margin-top:10px;
    background:rgb(233, 240, 243);
    line-height: 1.5;
}

.onward, .return, .summary{
    padding:5px;
    display: inline-block;
    width: 33%
}
.booking{
    background-color: rgb(84, 112, 214);
    color: azure;
    left: 45%;
}
.flight-image{
    background-image: url('../../assets/Flight-takeoff-01.png');
    background-size: cover;
}

.price-image{
    background-image: url('../../assets/price.png');
    background-size: cover;
}

.flight-content{
    margin-left: 5%
}
.flight-content-one-way{
    align-items: center
}


